<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="margin : 20px">
        컴퓨터 과학의 기초를 익히기 위해서 수강했던 / 수강 중인 과목들 입니다.
        <br/>
        These are the courses that I worked on / am currently working on in order to 
        learn the basics of computer science. 
    </div>
 
    <table>
        <tr>
            <td><strong>과목명</strong></td>
            <td><strong>기관/교수님</strong></td>
            <td><strong>학습링크</strong></td>
        </tr>
        <tr>
            <td>Discrete Mathematics (이산수학)</td>
            <td>가천대학교 김철연 교수님</td>
            <td>            
                <a href="http://www.kocw.net/home/search/kemView.do?kemId=1017495">KOCW</a>
            </td>
        </tr>
        <tr>
            <td>Linear Algebra (선형대수학)</td>
            <td>한양대학교 이상화 교수님</td>
            <td>
                <a href="http://www.kocw.net/home/search/kemView.do?kemId=977757">
                     KOCW
                </a>
            </td>
        </tr>
        <tr>
            <td>Probability and Statistics (확률 및 통계)</td>
            <td>한양대학교 이상화 교수님</td>
            <td><a href="http://www.kocw.net/home/cview.do?cid=a2881d53f7ea3252">KOCW</a></td>
        </tr>
        <tr>
            <td>Digital Logic Circuits Basics (디지털 논리회로 익히기)</td>
            <td>금오공과대학교 이용환 교수님</td>
            <td>
                <a href="http://www.kocw.net/home/search/kemView.do?kemId=1319470">
                     KOCW
                </a>
            </td>
        </tr>
        <tr>
            <td>Computer Architecture (컴퓨터 구조)</td>
            <td>서울대학교 민상렬 교수님</td>
            <td>
                <a href="https://olc.kr/course/course_online_view.jsp?id=240&s_keyword=%EB%AF%BC%EC%83%81%EB%A0%AC&x=0&y=0">
                     OLC
                </a>
            </td>
        </tr>
        <tr>
            <td>Computer Networking (컴퓨터 네트워크)</td>
            <td>한양대학교 이석복 교수님</td>
            <td>
                <a href="http://www.kocw.net/home/search/kemView.do?kemId=1312397">
                 KOCW
                </a>
            </td>
        </tr>
        <tr>
            <td>Operating System (운영체제)</td>
            <td>서울대학교 홍성수 교수님</td>
            <td>
                <a href="http://etl.snu.ac.kr/course/view.php?id=188247">
                     SNU ETL
                </a>
            </td>
        </tr>
        <tr>
            <td>Algorithms (알고리즘)</td>
            <td>Coursera Stanford</td>
            <td>
                <a href="https://www.coursera.org/learn/algorithms-graphs-data-structures/home/welcome">
                    COURSERA
                </a>
            </td>
        </tr>
        <tr>
            <td>Concepts of Programming Languages (프로그래밍 언어론)</td>
            <td>국민대학교 강승식 교수님</td>
            <td>
                <a href="http://www.kocw.net/home/search/kemView.do?kemId=1331791">
                     KOCW
                </a>
            </td>
        </tr>
        <tr>
            <td>Compiler (컴파일러)</td>
            <td>국민대학교 강승식 교수님</td>
            <td><a href="http://www.kocw.net/home/search/kemView.do?kemId=1348991">KOCW</a></td>
        </tr>
        <tr>
            <td>Linux Administrator Certificate Course</td>
            <td>Linux Foundation</td>
            <td>
                <a href="https://trainingportal.linuxfoundation.org/learn/dashboard">
                    LINUX
                </a>
            </td>
        </tr>
        <tr>
            <td>DBMS</td>
            <td>한양대학교 정형수 교수님</td>
            <td>2019 학부 강의</td>
        </tr>
        <tr>
            <td>System Programming</td>
            <td>한양대학교 조인휘 교수님</td>
            <td>2019 학부 강의</td>
        </tr>
        <tr>
            <td>C++ Programming</td>
            <td>한양대학교 쿠즈너 교수님</td>
            <td>2019 학부 강의</td>
        </tr>
    </table>
</body>
</html>