<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div style="margin : 20px">
        컴퓨터 과학의 기초를 익히기 위해서 수강했던 / 수강 중인 과목들 입니다.
        <br/>
        These are the courses that I worked on / currently working on in order to 
        learn the basics of computer science. 
    </div>
    <div>
        <li>
            <a href="http://www.kocw.net/home/search/kemView.do?kemId=1017495">
                Discrete Mathematics - 이산수학 (가천대학교 김철연 교수님) 
            </a>
        </li>
        <li>
            <a href="http://www.kocw.net/home/search/kemView.do?kemId=1319470">
                Digital Logic Circuits Basics - 디지털 논리회로 익히기 (금오공과대학교 이용환 교수님)
            </a>
        </li>
        <li>
            <a href="https://olc.kr/classroom/course_info.jsp?cuid=310966">
                Computer Architecture - 컴퓨터 구조 (서울대학교 민상렬 교수님)
            </a>
        </li>
        <li>
            <a href="http://www.kocw.net/home/search/kemView.do?kemId=1312397">
                Computer Networking - 컴퓨터 네트워크 (한양대학교 이석복 교수님)
            </a>
        </li>
        <li>
            <a href="http://etl.snu.ac.kr/course/view.php?id=188247">
                Operating System - 운영체제 (서울대학교 홍성수 교수님)
            </a>
        </li>
        <li>
            <a href="https://www.coursera.org/learn/algorithms-graphs-data-structures/home/welcome">
                Algorithms - 알고리즘 (Coursera Stanford)
            </a>
        </li>
        <li>
            <a href="https://trainingportal.linuxfoundation.org/learn/dashboard">
                Linux Administrator Certificate Course (Linux Foundation)
            </a>
        </li>
    </div>
</body>
</html>